{% extends "::base.html.twig" %}

{% block body %}
		<div class="vertical-center page-creative">
			<div class="container">
				<div class="jumbotron">
					<span class="pull-right"><a href="{{ path('homepage') }}">Revenir au mode survie</a></span>
					<ul class="nav nav-tabs">
  						<li role="presentation" class="{% if app.request.get('_route') == 'creative_stats' %}active{%endif%}"><a href="{{ path('creative_stats') }}">Statistiques</a></li>
  						<li role="presentation" class="{% if app.request.get('_route') == 'creative_contribute' %}active{%endif%}"><a href="{{ path('creative_contribute') }}">Contribuer</a></li>
  						<li role="presentation"><a href="{{ path('creative_moderate') }}">Modérer</a></li>
					</ul>
					<h2>Vous pouvez directement contribuer à la suite de ces questions :</h2>
					<hr>
					{% for Question in questions %}
						<p>{{ Question.text }}<br/>
						<ul>
						{% for Reponse in Question.reponses %}
						  		<li><a href="{{ path('creative_contribute_autorize', {'id' : Reponse.id}) }}">{{ Reponse.text }}</a></li>
					  	{% endfor %}
					  	</ul>
					  	</p>
					  	<hr>
					{% endfor %}
				</div>
			 </div>
		</div>

{% endblock %}